@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cookie&display=swap');
body{
    background-color: antiquewhite;
}
h1{
    font-family: arizonia, sans-serif;
    font-size:35px;
    display:flex;
}

h2{
    font-family:cookie, sans-serif;
    font-size: 25px;
    color: black;
}
.img{
    display:flex;
    width:100%;
    max-width: 1200px;
    margin: auto;
    height: 650px;
    object-fit: cover;
}
.title{    
    position: absolute;
    top: 85%;
    align-items: center;
}
.sub-title{    
    position: absolute;
    top: 76%;
    align-items: center;
}
.sub-title, .title{
    display:flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-color: antiquewhite;
}